parameters:
	ignoreErrors:
		-
			message: '#^Trait App\\Shared\\Domain\\ValueObject\\AggregateRootId is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Shared/Domain/ValueObject/AggregateRootId.php
